:root {

    --text-color: #737373;
    --border-color: rgb(38, 38, 38);
}

a {
    text-decoration: none;
    width: max-content;
    height: max-content;
}

.nav {
    width: 244px;
    height: 100vh;
    max-width: 100%;
    padding: 35px 15px 10px 18px;
    box-sizing: border-box;
    border-right: 1px solid var(--border-color);
    position: fixed;
    top: 0;
    left: 0;
    background: black;
}

.nav .nav-content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.nav-content .logo {
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
}

.logo .insta-name {
    display: block;
    color: white;
}

.logo .insta-icon {
    display: none;
    color: white;
}

.nav-content .nav-links {
    margin-top: 20px;
}

.nav-links .thread-visit-link {
    /* margin-top: 30px; */
}

.nav-links .nav-ul{
    list-style: none;
}

ul li {
    margin-block: 8px;
}

.nav-links .nav-item {
    padding: 11px 10px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    transition: ease-in .2s;
    position: relative;
    box-sizing: border-box;
}

.nav-links .nav-item:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.nav-item .nav-item-icon {
    border-radius: 5px;
}

.thread-visit-link :nth-child(3) {
    color: rgba(255, 255, 255, 0.2);
    position: absolute;
    right: 10px;
    visibility: hidden;
    transition: ease-in .2s;
}

.nav-links .nav-item:hover svg {
    transform: scale(1.1);
}

.nav-links .nav-item:hover :nth-child(3) {
    visibility: visible;
    transform: scale(1);
}

.nav-links .nav-item svg {
    color: white;
    transition: ease-in .2s;
}

.nav-links .nav-item .nav-title {
    margin-left: 15px;
    text-decoration: none;
    color: white;
    font-weight: 400;
}

.nav-item-icon .nav-profile-img {
    width: 26px;
    height: 26px;
    border-radius: 50%;
    transition: ease-in .2s;
    box-sizing: border-box;
}

.nav-profile-img.profileActive {
    border: 2px solid white;
}

.nav-profile-img img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.nav-links .nav-item:hover .nav-item-icon .nav-profile-img {
    transform: scale(1.1);
}


.nav-link-li {
    position: relative;
    cursor: pointer;;
}

.nav-link-li .create-media-container{
    width: 100%;
    min-width: 200px;
    max-width: 200px;
    height: max-content;
    margin: 0;
    padding: 0;
    background: rgb(38, 38, 38);
    border-radius: 5px;
    position: absolute;
    z-index: 99;
    left: 0;
    box-sizing: border-box;
    transition: .2s ease-in;
    margin-top: 5px;;
}

.create-media-container .create-media-container-content{
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.create-media-container-content ul{
    width: 100% !important;
    list-style: none;
}

.create-media-container-content ul li{
    margin: 0;
    padding: 0;
}

.create-media-container-content .media-item{
    width: 100%;
    padding: 8px 16px !important;;
    box-sizing: border-box;
    transition: .2s ease-out;
}

.media-item:hover{
    background-color: rgba(255, 255, 255, 0.1);
}

.create-media-container-content .media-item-content{
   height: 28px;
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.media-item-content .media-item-title{
    display: block;
    font-size: 16px;
    color: #F5F5F5;
    font-weight: 500;
}

.media-item-content svg{
    width: 24px;
    height: 24px;
    margin-left: 12px;
    color: white;
}



@media (max-width: 765px) {

    .nav-link-li .create-media-container{
        width: 100%;
        min-width: 200px;
        max-width: 200px;
        height: 88px;
        margin: 0;
        padding: 0;
        background: rgb(38, 38, 38);
        border-radius: 5px;
        position: absolute;
        z-index: 99;
        bottom: 50px;
        left: -100px;
        margin-left: -20px;
        margin-bottom: 10px;
        transition: .2s ease-in;
    }

     

    .nav {
        width: 100vw !important;
        height: max-content !important;
        z-index: 9999;
        top: unset;
        position: fixed;
        bottom: 0px;
        left: 0;
        border-top: 1px solid var(--border-color);
    }

    .nav .nav-content {
        flex-direction: row !important;
        padding: 0 !important;
    }

    .nav-content .nav-links {
        width: 100%;
        margin: 0 !important;
        padding: 0 !important;
    }

    .nav-links .nav-ul {
        width: 100% !important;
        max-height: 48px;
        display: flex;
        margin: 0 !important;
        padding: 0 !important;
        box-sizing: border-box;
        justify-content: space-evenly;
    }

    .nav-links .nav-ul li {
        margin: 0;
    }

    .nav .hide-nav {
        display: none;
    }

    .nav-links .nav-item {
        margin: 0 !important;
        background: transparent!important;
    }

}

@media (max-width: 1260px) {

    .nav {
        width: max-content;
        padding: 0;
    }

    .nav .nav-content {
        padding: 8px 10px 20px 10px;
        box-sizing: border-box;
    }

    .nav-content .logo {
        width: 48px;
        height: 48px;
        margin: 4px 0;
        padding: 0px;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-block: 15px 23px;
        transition: ease-in .2s;
    }

    .nav-content .logo:hover {
        background-color: rgba(255, 255, 255, 0.1);
    }

    .nav-content .logo:hover .insta-icon {
        transform: scale(1.1);
    }

    .nav-content .nav-links {
        margin: 0px;
    }

    .nav-links .nav-item {
        width: 48px;
        height: 48px;
        margin: 4px 0;
        padding: 0px;
    }

    .nav-item .nav-item-icon {
        width: 100%;
        height: 100%;
        border-radius: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .logo .insta-name {
        display: none;
    }

    .logo .insta-icon {
        height: 24px;
        display: block;
        transition: ease-in .2s;
    }

    .nav-links .nav-item .nav-title {
        display: none;
    }

    .thread-visit-link :nth-child(3) {
        display: none;
    }
}



