:root {
    --text-color: #737373;
    --border-color: rgb(38, 38, 38);
}

.app-nav {
    width: 100%;
    max-width: 244px;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 9;
}

.app-nav .app-nav-content {
    width: 100%;
    height: 100%;
    padding: 8px 12px 20px 12px;
    box-sizing: border-box;
    border-right: 1px solid var(--border-color);
}

.app-nav-content .app-nav-content-intractions {
    width: 100%;
    height: 100%;
}

.app-nav-content-intractions .nav-intraction-logo {
    width: 100%;
    height: 92px;
    flex-shrink: 0;
}

.nav-intraction-logo .nav-intraction-logo-content {
    width: 100%;
    height: 100%;
    margin-bottom: 19px;
    padding: 25px 12px 16px 12px;
    box-sizing: border-box;
}

.nav-intraction-logo-content .nav-logo {
    opacity: 1;
    width: 100%;
    margin-top: 7px;
}

.nav-logo svg {
    color: white;
    cursor: pointer;
}

.nav-logo .insta-name {
    display: block;
}

.nav-logo .insta-icon {
    display: none;
}

.app-nav-content-intractions .nav-intraction-btns {
    width: 100%;
    height: 497px;
    flex-grow: 1;
}

.nav-intraction-btn {
    position: relative;
}

.nav-intraction-btn .nav-intraction-btn-layout {
    width: inherit;
    max-width: inherit;
    height: inherit;
    max-height: inherit;
    min-height: inherit;
    position: relative;
}

.nav-intraction-btn-layout .nav-intraction-btn-content {
    width: 100%;
    padding: 12px;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    margin-block: 4px;
    border-radius: 8px;
    box-sizing: border-box;
    cursor: pointer;
    text-align: inherit;
}

.nav-intraction-btn-content:hover {
    background-color: rgba(61, 61, 61, 0.5)
}

.activeNavItem .contetn-box .nav-intraction-btn-content {
    padding: 11px;
    border: 1px solid white;
}

.nav-intraction-btn-content .nav-intraction-btn-icon {
    position: relative;
    align-content: stretch;
    background: transparent;
    box-sizing: border-box;
    display: flex;
}

.nav-intraction-btn-icon .nav-intraction-btn-icon-layout {
    width: 24px;
    height: 24px;
    box-sizing: border-box;
    transition-duration: 200ms;
    transition-property: transform;
    transition-timing-function: cubic-bezier(0.17, 0.17, 0, 1);

}

.nav-intraction-btn-content:hover .nav-intraction-btn-icon-layout {
    transform: scale(105%);
}

.nav-intraction-btn-icon-layout svg {
    color: rgb(245, 245, 245);
    position: relative;
    display: block;
    width: 24px;
    height: 24px;
    overflow-clip-margin: content-box;
    overflow: hidden;
}

.nav-intraction-btn-icon-layout .user-profile-img {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: 2px solid transparent;
    margin-top: -2px;
    margin-left: -2px;
}

.user-profile-img img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.user-profile-img.active {
    border: 2px solid white;
}

.nav-intraction-btn-content .nav-intraction-btn-lable {
    opacity: 1;
    display: flex;
    height: 24px;
    width: fit-content;
    align-items: center;
    overflow-x: hidden;
    box-sizing: border-box;
    padding-left: 16px;
    color: rgb(245, 245, 245);
    text-align: inherit;
}

.nav-intraction-btn-lable .nav-intraction-btn-lable-content {
    width: 100%;
}

.nav-intraction-btn-lable-content span {
    line-height: 20px;
    min-width: 0;
    max-width: 100%;
    font-size: 16px;
    color: rgb(245, 245, 245);
    word-wrap: break-word;
    display: block;
    white-space: pre-line;
}

.nav-intraction-btn.activeNavItem span {
    font-weight: 700;
}

.nav-intraction-btn-layout .create-media-container {
    width: 200px;
    height: max-content;
    background-color: rgb(38, 38, 38);
    z-index: 3;
    border-radius: 6px;
    filter: drop-shadow(0 0 5px rgba(0, 0, 0, .0975));
    position: absolute;
    transition: opacity .075s linear, transform .038s ease-out;
    opacity: 1;
    overflow: hidden;
    transform: translateY(0);
}

.create-media-container .create-media-container-content {
    width: 100%;
    height: max-content;
}

.create-media-container-content .media-item {
    width: 100%;
    height: max-content;
}

.media-item .media-item-content {
    width: 100%;
    height: 44px;
    padding: 8px 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    cursor: pointer;
}

.media-item-content .media-item-title {
    font-weight: 400;
    font-size: 16px;
    word-wrap: break-word;
    color: white;
}

.media-item-content svg {
    color: white;
}

.media-item:hover {
    background: #3d3d3d;
}

.app-nav-content-intractions .nav-intraction-other-btns {
    width: 100%;
    height: 112px;
    box-sizing: border-box;
}

.nav-intraction-btns .hideNavItemMessage2 {
    display: none;
}



/* active nav in small  */
.activeNavSmall.app-nav {
    width: max-content;
    max-width: unset;
}

.activeNavSmall .app-nav-content {
    max-width: 72px;
    transition: .1s ease-in-out;
    z-index: 9999;
    display: flex;
    position: relative;
}

.activeNavSmall .nav-logo .insta-name {
    display: none;
}

.activeNavSmall .nav-logo .insta-icon {
    display: block;
}

.activeNavSmall .nav-intraction-btn-content .nav-intraction-btn-lable {
    display: none;
}

.activeNavSmall .app-nav-content-sections {
    height: 100%;
    transition: .1s ease-in-out;
    position: absolute;
    right: 0;
    top: 0;
}

.app-nav-content-sections .app-nav-content-section-content {
    width: 100%;
    height: 100%;
    position: relative;
}

.app-nav-content-sections .app-nav-search-section {
    height: 100%;
    width: 0px;
    transition: .2s ease-in-out;
    border-right: 1px solid var(--border-color);
    position: absolute;
    top: 0px;
    left: 0px;
    background: black;
    opacity: 0;
    visibility: hidden;
}

.activeNavSmall .app-nav-search-section.active {
    width: 397px;
    opacity: 1;
    visibility: visible;
}

.app-nav-search-section .app-nav-search-section-content{
    width: 100%;
    height: 100%;
    padding-block: 8px;
    box-sizing: border-box;
}

.app-nav-search-section-content .search-section-heading{
    margin-block: 0 8px;
    padding: 12px 14px 36px 24px;
    display: block;
}

.search-section-heading .search-section-heading-content{
    width: 100%;
    height: max-content;
    box-sizing: border-box;
}

.search-section-heading-content h1{
    max-width: 100%;
    color: rgb(245, 245, 245);
    text-align: left;
    font-weight: 600;
    display: block;
    font-size: 24px;
}

.app-nav-search-section-content .search-section-input{
    margin-inline: 16px;
    box-sizing: border-box;
}


.search-section-input .search-section-input-content{
    width: 100%;
    height: 40px;
    margin-bottom: 24px;
    position: relative;
}

.search-section-input-content input{
    width: 100%;
    height: 100%;
    padding: 3px 16px;
    box-sizing: border-box;
    outline: none;
    border: none;
    border-radius: 8px;
    background-color: rgb(38, 38, 38);
    text-align: left;
    color: rgb(245, 245, 245);
    font-size: 16px;
}

.search-section-input-content .search-input-placeholder{
    width: max-content;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    color: rgb(142, 142, 142);;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 16px;
}

.search-input-placeholder .search-input-placeholder-icon{
    height: 100%;
    margin-right: 12px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.search-input-placeholder-icon svg{
    color: rgb(142, 142, 142);
}

.search-input-placeholder .search-input-placeholder-input-text{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-input-placeholder-input-text span{
    color: rgb(142, 142, 142);
    font-weight: normal;
}

.search-section-input-content .clear-search-input-btn{
    width: 20px;
    height: 20px;
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 3;
    background-image: url(https://static.cdninstagram.com/rsrc.php/v3/y5/r/TJztmXpWTmS.png);
    background-repeat: no-repeat;
    background-position: -318px -333px;
    height: 20px;
    width: 20px;
    cursor: pointer;
}

.search-section-header hr{
    width: 100%;
    height: 1px;
    background-color: rgb(38, 38, 38);
    outline: none;
    border: none;
}

.app-nav-search-section-content .search-result{
    width: 100%;
    height: 100%;
    padding-top: 12px;
}

.search-result .search-history{
    width: 100%;
    height: 100%;
}

.search-history .recent-tab{
    width: 100%;
    height: min-content;
}

.recent-tab .recent-tab-content{
    height: min-content;
    margin: 6px 24px 8px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.recent-tab-content span{
    font-size: 16px;
    font-weight: 600;
    color: #F5F5F5;
}

.recent-tab-content .clear-search-history-btn{
    color: #0095F6;
    cursor: pointer;
}

.search-history .searched-users{
    width: 100%;
    height: calc(100% - 192px);
    overflow-y: auto;
}

.search-result .search-result-users{
    width: 100%;
    height: calc(100% - 153px);
    overflow-y: auto;
}



























.app-nav-content-sections .app-nav-message-section {
    height: 100%;
    width: 0px;
    transition: .2s ease-in-out;
    border-right: 1px solid var(--border-color);
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: black;
    opacity: 0;
    visibility: hidden;
}

.activeNavSmall .app-nav-message-section.active {
    width: 397px;
    opacity: 1;
    visibility: visible;
}

.app-nav-message-section .app-nav-message-section-content{
    width: 100%;
    height: 100%;
    padding-block: 8px;
    box-sizing: border-box;
    overflow-y: auto;
}

.app-nav-message-section-content .app-nav-message-heading{
    width: 100%;
    height: max-content;
    padding: 8px 24px 24px 24px;
    box-sizing: border-box;
}

.app-nav-message-heading .app-nav-message-heading-content{
    width: 100%;
}

.app-nav-message-heading-content span{
    color: rgb(245, 245, 245);
    font-weight: 700;
    font-size: 24px;
}

.app-nav-message-section-content .app-nav-message-contry-section{
    width: 100%;
    height: max-content;
}

.app-nav-message-contry-section .app-nav-message-contry-section-hr{
    margin-block: 12px;
    width: 100%;
    height: 1px;
    background-color: rgb(38, 38, 38);
}

.app-nav-message-contry-section .app-nav-message-contry-heading{
    width: 100%;
    height: max-content;
    box-sizing: border-box;
    margin-bottom: 18px;
    padding-inline: 24px;
}

.app-nav-message-contry-section span{
    width: 100%;
    font-size: 16px;
    color: rgb(245, 245, 245);
    font-weight: 700;
}





























.activeNavSmall .app-nav-content-intractions .nav-intraction-logo {
    width: 100%;
    height: max-content;
    flex-shrink: 0;
}

.activeNavSmall .nav-intraction-logo .nav-intraction-logo-content {
    width: 100%;
    height: unset;
    padding: 0px;
    margin: 0px;
    padding-bottom: 24px;
    margin-top: 12px;
    box-sizing: border-box;
}

.activeNavSmall .nav-intraction-logo-content .nav-logo {
    opacity: 1;
    width: 100%;
    margin-top: 7px;
    ;
    padding: 12px;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    margin-block: 4px;
    border-radius: 8px;
    box-sizing: border-box;
    cursor: pointer;
    text-align: inherit;
}

.activeNavSmall .nav-intraction-logo-content .nav-logo:hover {
    background-color: rgba(61, 61, 61, 0.5)
}

.activeNavSmall .nav-intraction-logo-content .nav-logo:hover svg {
    transform: scale(105%);
    transition-duration: 200ms;
    transition-property: transform;
    transition-timing-function: cubic-bezier(0.17, 0.17, 0, 1);
}

@media (max-width: 1265px) {
    .app-nav {
        width: max-content;
        max-width: unset;
    }

    .nav-logo .insta-name {
        display: none;
    }

    .nav-logo .insta-icon {
        display: block;
    }

    .nav-intraction-btn-content .nav-intraction-btn-lable {
        display: none;
    }

    .app-nav-content-intractions .nav-intraction-logo {
        width: 100%;
        height: max-content;
        flex-shrink: 0;
    }

    .nav-intraction-logo .nav-intraction-logo-content {
        width: 100%;
        height: unset;
        padding: 0px;
        margin: 0px;
        padding-bottom: 24px;
        margin-top: 12px;
        box-sizing: border-box;
    }

    .nav-intraction-logo-content .nav-logo {
        opacity: 1;
        width: 100%;
        margin-top: 7px;
        ;
        padding: 12px;
        display: inline-flex;
        flex-direction: row;
        align-items: center;
        margin-block: 4px;
        border-radius: 8px;
        box-sizing: border-box;
        cursor: pointer;
        text-align: inherit;
    }

    .nav-intraction-logo-content .nav-logo:hover {
        background-color: rgba(61, 61, 61, 0.5)
    }

    .nav-intraction-logo-content .nav-logo:hover svg {
        transform: scale(105%);
        transition-duration: 200ms;
        transition-property: transform;
        transition-timing-function: cubic-bezier(0.17, 0.17, 0, 1);
    }
}

@media (max-width: 765px) {
    .app-nav {
        width: 100%;
        max-width: unset;
        height: max-content !important;
        height: fit-content;
        top: unset;
        bottom: 0;
        z-index: 2;
    }

    .app-nav .app-nav-content {
        padding: 0;
        border: unset;
        border-top: 1px solid var(--border-color);
        background: black;
    }

    .app-nav-content-intractions .nav-intraction-logo,
    .app-nav-content-intractions .nav-intraction-other-btns {
        display: none;
    }

    .app-nav-content-intractions .nav-intraction-btns {
        height: max-content;
        display: flex;
        justify-content: space-evenly;
    }

    .nav-intraction-btns div {
        height: max-content;
    }

    .nav-intraction-btn-layout .nav-intraction-btn-content {
        margin: 0;
    }

    .nav-intraction-btns .hideNavItem {
        display: none !important;
    }

    .nav-intraction-btn-content:hover {
        background-color: unset;
    }

    .nav-intraction-btn-layout .create-media-container {
        top: -113px;
        right: -70px;
    }

    .nav-intraction-btns .hideNavItemMessage2 {
        display: block;
    }

    .nav-intraction-btns .hideNavItemMessage1 {
        display: none;
    }
}






.search-user-card{
    width: 100%;
    height: max-content;
    cursor: pointer;
    padding: 8px 24px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
}

.search-user-card a{
    width: 100%;
    text-decoration: none;
}

.search-user-card:hover {
    background-color: rgba(61, 61, 61, 0.5)
}

.search-user-card-content{
    width: 100% ;
    display: flex;
    align-items: center;
}

.search-user-card-content .search-user-img-layout{
    width: max-content;
    height: max-content;
    min-width: max-content;
    min-height: max-content;
    overflow: hidden;
    border-radius: 50%;
    background: var(--story-avilable-color);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    border: 2px solid var(--viewd-story-border-color);
}

.search-user-img-layout .search-user-img{
    width: 44px;
    height: 44px;
    padding: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: black;
    border-radius: 50%;
}

.search-user-img img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.search-user-img-layout.active {
    background: var(--story-avilable-color);
    padding: 2px;
    border: none;
}

.search-user-card-content .search-user-meta{
    width: 100%;
}

.search-user-meta div{
    width: 100%;
    height: max-content;
}

.search-user-meta .search-user-username{
    width: min-content;
    font-size: 14px;
    color: #F5F5F5;
    font-weight: bold;
    display: block;
}

.search-user-meta .search-user-name{
    font-size: 14px;
    color: #A8A8A8;
    display: block;
}

.clear-search-user-btn-layout{
    height: 100%;
    display: none;
    justify-content: end;
}

.search-history .clear-search-user-btn-layout{
    display: flex;
}

.clear-search-user-btn-layout .clear-search-user-btn{
    width: max-content;
    height: max-content;
    padding: 8px;
    display: flex;
    margin-left: 6px;
    cursor: pointer;
}

.clear-search-user-btn svg{
    width: 16px;
    height: 16px;
    color: rgb(168, 168, 168);
}






.user-notification-message {
    width: 100%;
    height: max-content;
    padding: 8px 24px;
    box-sizing: border-box;
}

.user-notification-message .user-notification-message-content{
    width: 100%;
    height: max-content;
    box-sizing: border-box;
    display: flex;
    align-items: center;
}

.user-notification-message-content .user-notification-userImg{
    width: 44px;
    height: 44px;
    min-width: 44px;
    min-height: 44px;
    border-radius: 50%;
    margin-right: 12px;
}

.user-notification-userImg img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.user-notification-message-content .user-notification-user-meta{
    width: 100%;
    height: max-content;
}

.user-notification-user-meta .user-notification-notification-massage{
    width: 100%;
    max-width: 100%;
    display: inline-block;
    font-weight: normal;
    font-size: 14px;
}

.user-notification-notification-massage .user-notification-username{
    font-size: 14px;
    font-weight: 600;
}

.user-notification-notification-massage .message-time{
    font-weight: 400;
    font-size: 14px;
    color: rgb(168, 168, 168);
}

.user-notification-message-content .user-notification-main-content{
    width: max-content;
    height: 100%;
}

.user-notification-main-content .user-notification-main{
    margin-left: 12px;
    display: flex;
}

.user-notification-main img{
    width: 44px;
    height: 44px;
}