.nav-post-page-card {
    width: 100%;
    height: 100%;
    max-height: 309px;
    max-width: 309px;
    position: relative;
    margin: auto;
}

/* height: (935px * 0.5625) */

.card-contain img {
    width: 100%;
    height: 100%;
    max-height: 309px;
    max-width: 309px;
    object-fit: cover;
}


.nav-post-page-card .card-hover {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    cursor: pointer;
}

.nav-post-page-card .card-hover:hover {
    background: rgba(0, 0, 0, 0.3);
}

.card-hover .card-details {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
    visibility: hidden;
}

.card-hover:hover .card-details,
.post-card.cardClick .card-details {
    visibility: visible;
}

.post-card.cardClick .card-hover {
    background: rgba(0, 0, 0, 0.3);
}


.card-details .card-likes,
.card-details .card-comments {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.card-details .like-icon {
    height: 18px;
    width: 18px;
    background-image: url('../../../../../public/profile imgs/asset 12.png');
    background-position: -340px -333px;
}

.card-details .comment-icon {
    height: 18px;
    width: 18px;
    background-image: url('../../../../../public/profile imgs/asset 12.png');
    background-position: -382px -333px;
}

.card-details span {
    font-weight: bold;
    color: white;
}

.nav-post-page-card .card-contain {
    width: 100%;
    height: 100%;
}


.nav-post-page {
    max-width: 100%;
    display: grid;
    gap: 3px;
}

@media (min-width: 600px) {
    .nav-post-page {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 900px) {
    .nav-post-page {
        grid-template-columns: repeat(3, 1fr);
    }
}